*{
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
  //mis rem sean de 10px
}
body{
  font-size: 1.6rem;
}

.App{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}